body{
    font-family: 'Courier New', Courier, monospace;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-size: 16px
    color: #4C5454;

   }
h1{font-size: 22px;
    padding-left: 20px
    ;}
h2{font-size: 20px;
    padding-left: 50px;
}
p{padding-left: 50px}
img{float: right;
    width: 400px}
ol{padding-left: 100px}
ul{padding-left: 100px}
#liste table{border-collapse: collapse;
width: 400px;}
#liste tr{  border: 1px;
            border-color: #ddd;
            padding: 8px;        }
#liste td{  border: 1px;
border-color: #ddd;
padding: 8px;        }
#pair{background-color: #F2F2F2 ;}
#liste td:hover{background-color: #DDDDDD;}
#liste th{text-align: left;
padding: 12px 8px 20px 8px;
background-color: #FF715B; 
color: #ddd;}